// Define variables for your color scheme
$main-bg : white;
$boxShadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
// For example:

$light-gray: #F4F4F4;
$light-green: #D8EECC;
$h2-green: #8daf7a;
$medium-green: #134611;
$dark-green: #2e3c1d;
$dark-dark-green: #151C0D;
$terracotta: #EEA063;
