.header-img {
  background: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1654197648/development/Header_1_jgoafy.png')  no-repeat center ;
  background-size: cover;
  height: 230px;
  width: 100%;
  z-index: -2;
}

.header-home {
  // background: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1654261599/development/header-garden-linear-gradient.png')  no-repeat center ;
  h1{
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 62px;
    color: white;
    font-family: 'Butler';
    font-size: 45px;
    font-weight: bold;
    text-align: left;
  }
  background-size: cover;
  background-position: center;
  height: 230px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 39px;
  font-family: $headers-font;
  font-weight: bold;
  width: 100%;
  padding-left: 35px;
  position: relative;
  margin-bottom: 20px;


}
.alert-container{

  .g-plant-cards {
    display: flex;
    flex-direction: column;

    .g-plant-card-single {
      width: 100%;
      border-radius: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 15px auto;
      background-color: $light-green;
      padding: 10px;
      height: 90px;
    }
    .g-plant-infos{
      margin-left: 15px;
      font-size: 12px;
      height: 150px;
      align-items: space-between;
      p {
        font-family: $body-font;
        font-size: 12px;
        transform: translate(2px, -9px);
      }
      h2 {
        font-family: $body-font;
        font-size: 16px;
        }
    }
  }
}

.gauge2 {
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform: translate(130px, -98px);

  svg text:last-child {
    font-size: 20px;
    transform: translate(-13px, 0px);
  }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
