.header-img{
  background: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1654197648/development/Header_1_jgoafy.png')  no-repeat center ;
  background-size: cover;
  height: 230px;
  width: 100%;
  z-index: -2;
}
