// Specific CSS for your home-page
#home-visitor {
  .wrapper {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25),rgba(0,0,0,0.25)), url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1654015890/development/annie-spratt-8mqOw4DBBSg-unsplash_spsbei.jpg')  no-repeat center fixed;
    background-size: cover;
    height: 100vh;
  }
  .meteo-degree{
    font-family: Jost;
  }

  h1{
  color: white;
  font-family:$headers-font;
  font-weight: bolder;
  font-size: 50px;
  z-index: 2;
  margin-top: 150px;
  }

  h2{
  color: white;
  font-family: "Butler", sans-serif;
  font-weight: normal;
  font-size: 38px;
  z-index: 2;
  margin-top: 50px;
  margin-left: 30px;
  }
  .dark-btn{
    margin-top: 200px;
  }
  .light-btn{
    margin-top: 30px
  }
}

#home-sign-in{
  .header-home{
    .meteo{
      .fa-sun{
        color: white;
      }
      p{
        font-size: 23px;
        font-family: $body-font;
        font-weight: normal;
        margin: 0;
      }
    }
    .fas{
      margin-left: 20px;
      margin-bottom: 110px;
      color: white ;
    }
  }
  .header-img{
    background: url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1654197648/development/Header_1_jgoafy.png')  no-repeat center ;
    background-size: cover;
    height: 230px;
    width: 100%;
  }

  .main-title {
    margin: 55px 0;
    font-size: 35px;
  }

  .search-bar input{
    position: relative;
  }
  .input-search-home {
    background-color:white;
    width: 280px;
    border-radius: 7px;
  }
  .search-btn{
    position: absolute;
    top: 445px;
    right: 55px;
    border-radius: 7px;
    padding-right: 5px !important;
  }

  p{
    margin-top: 15px;
  }
  .fa-spa{
    color: hsla(87, 35%, 17%, 0.07);
  }
}
