#home-sign-in{
  .home-bg{
    background: contain no-repeat;
    color: white;
    .meteo-degree{
      color: white;
      font-size: 2rem;
    }
    .meteo-value{
      color: white;
      font-size: 1rem;
    }
    a{
      color: white;
      text-decoration: none;
    }
  }
  .search-bar{
    width: 80%;
  }
  .fa-spa{
    color: hsla(87, 35%, 17%, 0.07);
    @media screen and (max-width: 299px) {
          font-size: 6em;
    }
    @media screen and (min-width: 300px) and (max-width: 799px) {
          font-size: 8em;
    }
    @media screen and (min-width: 800px) {
          font-size: 10em;
    }
  }
}
