.gauge {
  transform: translate(135px, -106px);

  svg text:last-child {
    font-size: 15px;
    transform: translate(-8px, 0px);

  }

}

.plant-cards-alert {
  display: flex;
  flex-direction: column;

  .plant-card-single {
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px auto;
    background-color: $light-green;
    padding: 10px;
    height: 90px;
  }

  .plant-infos-alert {
    margin-left: 15px;
    font-size: 12px;
    height: 150px;
    align-items: space-between;

    h2 {
      font-family: $body-font;
      font-size: 16px;
      }

    p {
      font-family: $body-font;
      font-size: 12px;
      transform: translate(2px, -9px);
    }
  }
}


  // .plant-cards .plant-card-single {
  //   height: unset;
  // }

  // .plant-cards .plant-infos {
  //   height: unset;
  // }

  .gauge {
    // padding-right: 200px;
    transform: translate(130px,  -100px);

    svg text:last-child {
      font-size: 15px;
      transform: translate(-10px, 0px);

    }

  }
