.wrapper {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25),rgba(0,0,0,0.25)), url('https://res.cloudinary.com/lucas-vittaz/image/upload/v1654261287/development/Header_d9y58o.png')  no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  z-index: -2;
}
