h1 {
  text-align: center;
  font-size: 50px;
}
.modal-dialog{
  margin: 0 !important;
}
.modal-title{
  font-size: 60px;
  font-weight: bold;
}
.modal-header{
  h1{
    font-size: 40px;
    font-weight: bold;
  }
}
.modal-body{
  height: 100vh;
  margin-top: 50px;
  .form-check{
    margin-top: 50px;
  }
  .filter{
    position: absolute;
    transform: scale(0);
  }
  .filter + label{
    cursor: pointer;
    width: 75px;
    height: 75px;
    border: 1px $dark-green solid;
    border-radius: 10px;
    background-color: white;
  }
  .filter:checked + label{
    background-color: $terracotta;
    border: 1px $dark-green solid;
  }
  .dark-btn{
    margin-top: 100px;
  }
}

.added-filter-container {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  direction: row;
}

.added-filter {
  margin: 2px 7px;
  border-radius: 15px;
  background-color: $dark-green;
  padding: 2px 10px;
  width: fit-content;
  a {
    text-decoration: none;
    color: $terracotta;
    i {
      margin-left: 7px;
    }
  }
}

hr {
  border:none;
  border-top:1px dashed rgb(95, 94, 94);
  color:#fff;
  background-color: transparent;
  justify-self: center;
  height:1px;
  width:95%;
  margin: 10px auto;
}

.fa-3x {
font-size: 3em;
color: black;
padding-top: 24px;
padding-left: 24px;
}
