.plant-show{
  .plant-img{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;

    button {
      position: absolute;
      bottom: 1rem;
      right: 0.5rem;
      border: none;
      padding: .2rem 1.3rem;
      background: $terracotta;
      letter-spacing: 1px;
      color: white;
      font-family: $body-font;
    }
  }

  svg{
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
  }

  .plant-name{
    border: 1px transparent solid;
    border-radius: 7px;
    background-color: white;
    margin: 1.5rem;
    margin-bottom: 0;

    h1{
      color: $dark-green;
      font-family: Jost;
      font-size: 25px;
      font-weight: bold;
      text-align: left;
      line-height: 1.2;
    }
    h2{
      font-family: Jost;
      font-weight: bold;
      font-size: 24px;
      font-style: italic;
      color: $h2-green;
      margin-bottom: 1rem;
    }
  }

  .container-plant-scroll{
    background-color: $main-bg;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    margin-left: .75rem;
    padding: .75rem;
  }

  .container-plant-scroll::-webkit-scrollbar{
    width: 0;
  }

  .plant-card {
    display: block;
    min-width: 130px;
    max-width: 130px;
    height: 110px;
    line-height: 110px;
    border-radius: 20px;
    background-color: white;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 24px;
    padding-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    p {
      font-weight: bold;
      color: $medium-green;
    }
  }

  .plant-description{
    background-color: white;
    margin: 0 1.5rem;
    color: $dark-green;

    h3{
      font-family: Jost;
      color: $dark-green;
    }
  }
  .dark-btn{
    margin-top: 30px;
  }

}
.fa-sun{
  color: $medium-green;
  margin: 0!important;
}
.fa-temperature-high{
  color: $medium-green;
  margin: 0!important;
}
.fa-tint{
  color: $medium-green;
  margin: 0!important;
}
.fa-seedling{
  color: $medium-green;
  margin: 0!important;
}
.modal-dialog{
  margin: 0 !important;
}
.modal-title{
  font-size: 60px;
  font-weight: bold;
}
.modal-body{
  height: 50vh;
  margin-top: 50px;

  .form-check{
    margin-top: 50px;
  }
  .dark-btn{
    margin-top: 100px;
  }
}
#pairing-modal-close-btn{
  position:absolute;
  top: 63px;
  right: 21px;

}
#pairingModal{
  height: 50vh;
  top: 210px;
}


modal-content {
  height: fit-content;
  margin-top: 0;
  background-color: $main-bg;

  .modal-style {
    h5 {
      color: black;
      font-family: $body-font;
      font-size: 40px;
      text-align: center;
    }
    background-color: $main-bg;
  }
}
