#plant-show{
  .plant-img{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
  }

  h1{
    padding-top: 160px;
    padding-right: 100px;
    padding-left: 24px;
    color: white;
    font-family: Jost;
    font-size: 45px;
    font-weight: bold;
    text-align: left;
  }

  h2{
    font-family: Jost;
    font-weight: bold;
    color: $light-green;
    margin-left: 28px;
  }

  .container-plant-scroll{
    background-color: $light-gray;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    margin-left: 10px;
    margin-top: 30px;
  }

  .container-plant-scroll::-webkit-scrollbar{
    width: 0;
  }

  .plant-card {
    display: block;
    min-width: 110px;
    max-width: 110px;
    height: 110px;
    line-height: 110px;
    border-radius: 20px;
    background-color: white;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 24px;
    padding-top: 25px;

    p {
      font-weight: bold;
      color: $dark-green;
    }
  }

  .plant-description{
    border: 1px transparent solid;
    border-radius: 7px;
    background-color: white;
    padding: 1rem;
    margin-top: 20px;

    h3{
      font-family: Jost;
    }
  }
  .dark-btn{
    margin-top: 30px;
  }

}
.fa-sun{
  color: $dark-green;
  margin: 0!important;
}
.fa-temperature-high{
  color: $dark-green;
  margin: 0!important;
}
.fa-tint{
  color: $dark-green;
  margin: 0!important;
}
.fa-hand-holding{
  color: $dark-green;
  margin: 0!important;
}
.modal-dialog{
  margin: 0 !important;
}
.modal-title{
  font-size: 60px;
  font-weight: bold;
}
.modal-body{
  height: 100vh;
  margin-top: 50px;

  .form-check{
    margin-top: 50px;
  }
  .dark-btn{
    margin-top: 100px;
  }
}
