<%# <nav class="tapbar">
  <%= link_to "My alerts", needing_attention_my_garden_user_plants_path %>
  <%# <%= link_to "Search", plants_path %>
  <%# <%= link_to "My garden", my_garden_user_plants %>
<%# </nav> %> 
