<div class="tapbar-container" data-controller="tapbar">
  <nav class="tapbar">
    <div>
      <input id="menu-1" type="radio" name="menu" checked data-tapbar-target="alert" data-action="click->tapbar#redirectToAlertPage">
      <label for="menu-1">
        <i class="fas fa-bell"></i>
        <span>My alerts</span>
      </label>

      <input id="menu-2" type="radio" name="menu" data-action="click->tapbar#redirectToSearchPage" data-tapbar-target="search">
      <label for="menu-2">
        <i class="fas fa-search"></i>
        <span>Search</span>
      </label>

      <input id="menu-3" type="radio" name="menu"
      data-action="click->tapbar#redirectToGardenPage" data-tapbar-target="garden">
      <label for="menu-3">
        <i class="fas fa-leaf"></i>
        <span>My garden</span>
      </label>

      <span></span>
    </div>
  </nav>
</div>
