<div class="tapbar">
  <div class="items-tapbar active d-flex flex-column align-items-center">
    <%= link_to needing_attention_my_garden_user_plants_path do %>
      <i class="fas fa-bell"></i>
    <% end %>
    <span class="">My Alerts</span>
  </div>

  <div class="items-tapbar d-flex flex-column align-items-center">
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>
    <span class="">Home</span>
  </div>

  <div class="items-tapbar d-flex flex-column align-items-center">
    <%= link_to my_garden_user_plants_path do %>
      <i class="fas fa-leaf"></i>
    <% end %>
    <span class="">My Garden</span>
  </div>
</div>
