<div class="header">
  <%= link_to "Log out", destroy_user_session_path, method: :delete, data: {:confirm => 'Are you sure you want to log out?'} %>
</div>


<h1>Find your plants and add them to your garden </h1>

<form action="/plants" accept-charset="UTF-8" method="get">
  <input type="text" name="plant_name" id="plant_name" class="form_control" placeholder="Look up a plant">
  <input type="submit" name="commit" value="search" class="btn btn-primary" data-disable-with="Search">
</form>

<p>Find popular plants, apply filters and more</p>


<%= link_to "My alerts", needing_attention_my_garden_user_plants_path %>
<%= link_to "Search", plants_path %>
<%= link_to "My garden", my_garden_user_plants_path %>
