<div class="home-container">

  <% if user_signed_in? %>
  <div id="home-sign-in">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header-img">

          </div>
        </div>
        <div class="meteo" data-controller="meteo">
          <span data-target="injectMeteo" data-action="click->meteo#update">meteo</span>
        </div>
            <span><i class="far fa-user-circle"></i></span>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <h1>Find your plants and add them to your garden</h1>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
            <%= form_tag plants_path, method: :get, :class => 'd-flex search-bar input' do %>
                <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Look for a plant"%>

                  <button type="submit" class="search-btn">
                    <i class="fas fa-search"></i>
                  </button>
              <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <p>Find popular plants, apply filters and more</p>
        </div>
      </div>
    </div>
    <%= render 'shared/tapbar' %>
  </div>

  <div class="wrapper">
    <div class="header">
      <%= link_to "Log out", destroy_user_session_path, method: :delete, data: {:confirm => 'Are you sure you want to log out?'} %>
    </div>



  </div>
<% else %>
  <div id="home-visitor">
    <div class="wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h1>Feed my plant</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>Stop your plants<br>from dying</h2>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <a href="/users/sign_in" class="dark-btn text-decoration-none">Log In</a>
          </div>
        </div>
        <div class="row my-4">
          <div class="col d-flex justify-content-center">
            <a href="/users/sign_up" class="light-btn text-decoration-none">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
