<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>Feed my plant</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Stop your plants from dying</h2>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <a href="/users/sign_in" class="dark-btn text-decoration-none">Log In</a>
      </div>
    </div>
    <div class="row my-4">
      <div class="col d-flex justify-content-center">
        <a href="/users/sign_up" class="light-btn text-decoration-none">Sign up</a>
      </div>
    </div>
  </div>
</div>
