<% if user_signed_in? %>
<div id="home-sign-in" class="container-fluid">
  <header class="home-bg" style="background-image: url(https://res.cloudinary.com/lucas-vittaz/image/upload/v1654686039/development%20/home-header_i2bfrd.svg)">
    <div class="row">
      <div class="col d-flex flex-row-reverse">
        <%= link_to destroy_user_session_path, method: :delete, data: {:confirm => 'Are you sure you want to log out?'}, class:"link-header-right" do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end%>
      </div>
    </div>
    <div class="row" data-controller="meteo"  data-meteo-api-key-value="<%= ENV['METEO_KEY'] %>">
      <div class="col d-flex justify-content-center align-items-center">
        <p class="meteo-degree"></p>
        <div class="meteo-icons"></div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">
        <p class="text-justify meteo-value" data-meteo-target="injectMeteo"></p>
      </div>
    </div>
  </header>

  <div class="row py-5">
    <div class="col d-flex justify-content-center">
      <h1 class="text-center">Find your plants and add them to your garden</h1>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <%= form_tag plants_path, method: :get, :class => 'd-flex search-bar input' do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control input-search-home",
            placeholder: "Look for a plant"%>

        <button type="submit" class="search-btn">
          <i class="fas fa-search"></i>
        </button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <p class="text-center">Find popular plants, apply filters and more</p>
    </div>
  </div>
  <div class="row"></div>
    <div class="col d-flex justify-content-center">
      <i class="fas fa-spa"></i>
    </div>
  </div>
  </div>
</div>
<% else %>
<div class="container-fluid d-flex flex-column justify-content-center" id="home-visitor" style="background-image: url(https://res.cloudinary.com/lucas-vittaz/image/upload/v1654759079/development%20/annie-spratt-8mqOw4DBBSg-unsplash_1_sn1uf2.png)">
  <div class="row">
    <div class="col">
      <h1>Feed my plant</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Helps keep your plants alive</h2>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center py-5">
      <a href="/users/sign_in" class="dark-btn text-decoration-none">Log In</a>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <a href="/users/sign_up" class="light-btn text-decoration-none">Sign up</a>
    </div>
  </div>
</div>
<% end %>
