<%= link_to "<", root_path %>
<h1>Search</h1>
<div data-controller="search-plants">
  <div class="container" >
    <div class="row">
      <div class="col" >
        <%= form_with url: plants_path, method: :get, html: { class:
      'mb-4', data: { search_plants_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                      class: "form-control",
                      placeholder: 'Search a plant',
                      value: params[:query],
                      data: { search_plants_target: 'input',
                      action: 'keyup->search-plants#update'
                      } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <%= render "list", plants: @plants %>
  </div>
</div>
