.dark-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 254px;
  height: 51px;
  background-color: #EEA063;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 47px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Jost', sans-serif;
  font-weight: Bold;
  font-size: 16px;
  letter-spacing: 1px;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.dark-btn:hover {
  color: #fff!important;
}

.light-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 254px;
  height: 51px;
  letter-spacing: 1px;
  background-color: #fff;
  color: #EEA063;
  border: 3px solid $terracotta;
  border-radius: 47px;
  font-family: 'Jost', sans-serif;
  font-weight: Bold;
  font-size: 16px;

  a {
    text-decoration: none;
    color: $terracotta;
  }
}

.light-btn:hover {
  color: #EEA063!important;
}

.search-btn {
  display: grid;
  place-content: center;
  width: 40px;
  height: 38px;
  text-align: center;
  border: 1px solid $terracotta;
  background: $terracotta;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  letter-spacing: 1px;
}


.btn-terracotta {
  background-color: $terracotta;
  color: white;
  border-radius: 7px;
}

.device-unpair-btn{
  background-color: darkred;
  color: white;
  border-radius: 47px;
}
