.header{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 230px;
  color: white;
  font-family: $headers-font;
  font-weight: bold;
  margin-bottom: 20px;
  svg{
    margin-top: 40px;
    margin-left: 10px;
  }
  h1{
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 80px;
    color: white;
    font-family: 'B';
    font-size: 45px;
    font-weight: bold;
    text-align: left;
  }
  p{
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 65px;
    color: rgb(0, 0, 0);
    font-family: Jost;
    font-size: 16px;
    font-weight: ligth;
    text-align: left;
  }
  .link-header {
    text-decoration: none;
    color: white;
    padding-right: 5px;
    position: absolute;
    top:10px;
  }
  .link-header-right {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-right: 5px;
    position: absolute;
    top:30px;
  }
}
