.plant-cards {
  display: flex;
  flex-direction: column;

  .plant-card-single {
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 7.5px auto;
    background-color: $light-green;
    padding: 10px;
    height: 170px;
  }

  .plant-infos {
    margin-left: 15px;
    font-size: 12px;
    height: 150px;
    align-items: space-between;

    h2 {
      font-family: $body-font;
      font-size: 16px;
      }

    p {
      font-family: $body-font;
      font-size: 12px;
    }
  }
}
