.plant-cards {
  display: inline-block;
}

.plant-card-single {
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 15px auto;
  background-color: #D8EECC;
  padding: 10px;
  height: 170px;

}

.plant-infos {
  margin-left: 15px;
  font-size: 12px;
  height: 150px;
  overflow: hidden;

  h2 {
    font-family: $headers-font;
    font-size: 16px;
    }

  p {
    font-family: $body-font;
    font-size: 12px;
  }

}
