.container-room-scroll{
  background-color: $main-bg;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  padding: 0.75rem;


  .align-room-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }
}
.container-room-scroll::-webkit-scrollbar{
  width: 0;
}

.room-card {
  min-width: 110px;
  max-width: 110px;
  height: 110px;
  border-radius: 20px;
  background-color: white;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $dark-green;
  color: $dark-green;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  svg{
    margin-top: 0;
    margin-left: 0;
  }

}
.room-card.active {
  background-color: $terracotta;
  fill: white;
  color: white;
}

.link{
  text-decoration: none;
  color: $dark-green;
  fill: $dark-green;
  display: flex;
  align-items: center;
  justify-content: center;
}
