.container-room-scroll{
  background-color: $light-gray;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  margin-left: 10px;


  .align-room-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }
}
.container-room-scroll::-webkit-scrollbar{
  width: 0;
}

.room-card {
  min-width: 110px;
  max-width: 110px;
  height: 110px;
  border-radius: 20px;
  background-color: white;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.room-card.active {
  background-color: $terracotta;
  fill: white;
  color: white;
}

.link{
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
