.tapbar {
  position:fixed;
  bottom: 0;
  height: 64px;
  width: 100vw;
  background-color: $dark-green;
  display:flex;
  align-items: center;
  justify-content: space-around;
  color: transparent;
  border-radius: 20px 20px 0 0;;


  a {
    text-decoration: none;
    color: white;
  }
  .items-tapbar {
    min-width: 100px;

    i {
      font-size: 1.5rem;
    }

    span {
      display: none;
      position: absolute;

    }
  }

  .active {
    color: white;
    margin-bottom: 3rem;


    a {
      text-decoration: none;
      color: white;
      background: $dark-green;
      padding: 2rem;
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      display: grid;
      place-content: center;

    }

    i {
      font-size: 1.2rem;
    }

    span {
      display: block;
      bottom: 1rem;
    }
  }
}

.bullet{
  position: absolute;
  top: 0;
  left: 20%;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  color: white;
}
