// Graphical variables
@import "config/colors";
@import "config/fonts";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  margin-bottom: 100px;
  background-color: $main-bg;
  overflow-x : hidden;
}
.container-fluid{
  padding: 0;
  margin: 0;
}
.row{
  width: 100vw;
}
